# Java / Maven / Gradle
/backend/target/
/backend/build/
/backend/.idea/
/backend/.vscode/
/backend/mvn/
*.iml

*.log
.vscode/


# Angular / Node
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
npm-debug.log
/frontend/coverage/

.env
*.env
.DS_Store