# Java / Maven / Gradle
/backend/target/
/backend/build/
/backend/.idea/
*.iml

# Log files
*.log
# VSCode
.vscode/

# Maven
.mvn/

# Angular / Node
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/
npm-debug.log
/frontend/coverage/

.env
*.env
.DS_Store